@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Asset&family=Borel&family=Chelsea+Market&family=Love+Light&family=Nabla&family=Oi&family=Permanent+Marker&family=Rubik+Distressed&family=Rye&family=Yatra+One&display=swap');

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/notFoundBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -1;
    &::after {
        content: "NOT FOUND";
        position: absolute;
        top: 50%;
        left: 20%;
        font-size: 6rem;
        font-family: "Rubik Distressed", system-ui;
        font-weight: 400;
        color: white;
    }
}

@media screen and (min-width: 769px) {
    .bg::after {
        top: 70%;
        left: 30%;
    }
}

@media screen and (max-width: 768px) {
    .bg::after {
        top: 60%;
        left: 10%;
    }
}